{{#contentFor "htmlend"}}
<script>
		// window.onload = function(){
		// 	var el = document.getElementsByClassName('post-side')[0];
		// 	document.body.onscroll=function(){
		// 		console.log('1')
		// 		if(document.body.scrollTop >400 ){
		// 			el.style.position ='fixed'
		// 		}
		// 	};
		// }
</script>
{{/contentFor}}
<div class="post-side">
	<h3>Best of 2016<br/>
	Medium’s top 10 stories of 2016.</h3>
	<hr/>
	<div class="side-content">
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
	</div>		
	<h3>Best of 2015<br/>
	Medium’s top 10 stories of 2016.</h3>
	<hr/>
	<div class="side-content">
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
	</div>		
	<h3>Best of 2014<br/>
	Medium’s top 10 stories of 2016.</h3>
	<hr/>
	<div class="side-content">
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
		<div class="side-list">
			<div class="post-user"></div>
			<div class="post-date">Go to the profile of Tobias Stone	
		History tells us what may happen next</div>
		</div>
	</div>		
</div>
			